.hero-section{
    min-height: 100vh;
    color: white;
    padding: 20px;
    text-shadow: #1805052c 4px 4px 7px;
    display: flex;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.overflow-image{
    position: absolute;
    top: 7rem;
    left: 0;
   
    width: 100rem;
    height: 100rem;
    max-width: none;
    max-height: none;
}